@charset "utf-8";
/* CSS Document */
body{
	background:url(../images/shadow.gif) 0px 100px repeat-x;
	}
.head{
	width:100%;
	height:100px;
	background:#3C768D;
/* 	border-bottom:3px solid #555555; */
	
	margin:0 auto;
	}
.logo{
	width:1001px;
	height:90px;
/* 	padding-top:10px; */
	margin:0px auto;
	}
.logo img{
	margin-left: -165px
	}
.layOut{
	width:1001px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	}
.layOut1{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	}
.leftNav{
	width:170px;
	height:auto;
	float:left;
	}	
.regTitle{
	width:1001px;
	height:auto;
	margin-top:40px;
	border-bottom:1px dashed #ddd;
	padding-bottom:10px;
	float:left;
	}	
.regTitle h3{
	height:auto;
	text-indent:20px;
	font-size:16px;
	float:left;
	}	
.regTitle span{ font-size:14px; float:right;}	
a.red:link{color:#c63721;}
a.red:visited{color:#c63721;}
a.red:hover{ font-weight:bold; text-decoration:underline; color:#c63721;}

.regContent{
	width:1001px;
	height:auto;
	float:left;
	}
.regTab{
	width:1001px;
	margin-top:20px;
	float:left;
	}	
.regInput{
	width:200px;
	padding:3px;
	height:27px;
	line-height:27px;
	border:1px solid #c4c4c4;
	vertical-align:middle;
    font-size: 14px;
	}	
.regBtn{
	width:100px;
	height:25px;
	line-height:25px;
	border:0px;
	cursor:pointer;
	color:#fff;
	background:#d44832;
	}	
.foot{
	width:1001px;
	height:auto;
	line-height:30px;
	text-align:center;
	margin-top:20px;
	border-top:1px solid #ddd;
	float:left;
	}	
.left{
	width:170px;
	height:auto;
	margin-top:20px;
	float:left;
	}	
.left h4{
	width:170px;
	height:35px;
	line-height:35px;
	font-size:16px;
	text-indent:60px;
	background:url(../images/leftTopBg.png) no-repeat;
	color:#fff;
	float:left;
	}	
.commonBtn{
	width:168px;
	height:35px;
	line-height:35px;
	background:#f2f2f2;
	border:1px solid #cccccc;
	margin-top:10px;
	font-size:16px;
	text-indent:20px;
	float:left;
	}	
.current_1{
	background:#0c3;
	border:1px solid #0c3;
	color:#fff;
	}	
.current_1 a:link{color:#fff;}
.current_1 a:visited{color:#fff;}
.current_1 a:hover{color:#fff;}
	
.subMenu{
	width:168px;
	height:auto;
	float:left;
	}	
.subMenu dt{
	width:168px;
	height:35px;
	line-height:35px;
	background:url(../images/down.gif) 140px 14px no-repeat #f2f2f2;
	border:1px solid #cccccc;
	margin-top:10px;
	font-size:16px;
	text-indent:20px;
	cursor:pointer;
	float:left;	
	}	
.subMenu dt.on{
	display:block;
	background:url(../images/up.gif) 140px 14px no-repeat #0c3;
    color:#fff;
	}	
.subMenu dt.on_2{
	display:block;
	border:1px solid #c3341e;
	color:#fff;
	background:url(../images/up2.gif) 140px 14px no-repeat #d44832;
	}	
.subMenu dd{
	width:168px;
	height:auto;
	border:1px solid #cccccc;
	border-top:0px;
	display:none;
	float:left;
	}	
.subMenu dd ul{
	width:140px;
	height:auto;
	margin-left:14px;
	display:inline;
	padding-bottom:10px;
	float:left;
	}	
.subMenu dd ul li{
	height:30px;
	line-height:30px;
	font-size:14px;
	border-bottom:1px dashed #ddd;
	background:url(../images/dot.gif) 6px 15px no-repeat;
	text-indent:15px;
	}	
.subMenu dd ul li a:link{color:#999;}	
.subMenu dd ul li a:visited{color:#999;}	
.subMenu dd ul li a:hover{color:#d61212;}	


.subMenu dd.show{
	display:block;
	}	
	
.box {
	margin: 20px 0px 0px 20px; padding: 8px; border: 1px solid rgb(204, 204, 204); width: 202px; min-height: 294px; float: left;
}
.box h3 {
	padding: 10px; font-size: 18px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
.contact {
	width: 262px; margin-left: 0px;
}
.contact em{
    font-style: normal;
    color: #f60;
    font-weight: 700;
}
.contact a{
    color: rgb(85, 26, 139);
}


.contact h3 {
	border: 0px currentColor;
}
.contact p {
	padding: 12px; line-height: 2.1em; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dashed;
}
.box td {
	text-align: center;
}
.box .em td {
	color: rgb(255, 0, 0);
}	
#main {
	width: 790px;
	margin-top:15px;
	font-size:14px;
	float: right;
}
#main2 {
	width: 100%;
/* 	margin-top:15px; */
	font-size:18px;
/* 	float: right; */
}
#main .contact {
	margin: 20px 0px 0px 40px; float: right;
}
#main p {
	overflow: hidden;
}
#main p.title {
	padding: 6px 10px; line-height: 28px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
#main p.title b {
	color: rgb(0, 153, 0);
}
#main hr {
	border-width: 0px 0px 1px; border-style: none none dashed; border-color: currentColor currentColor rgb(204, 204, 204); height: 1px;
}
#main p.info {
	padding: 10px; line-height: 2.3em;
}
#main p.note {
	padding: 20px 10px; line-height: 2.3em;
}
#main p.note em{
    font-style: normal;
color: #f60;
font-weight: 700;
}
#main p.note b {
	font-size: 20px;
}
#main h2 {
	padding: 0px 10px; border-bottom-color: rgb(0, 187, 51); border-bottom-width: 2px; border-bottom-style: solid;
}
.info em{ font-style: normal;
color: #f60;
font-weight: 700;}


.rightTab_top{
	width:790px;
	height:auto;
	border-bottom:2px solid #0c3;
	padding-bottom:1px;
	margin-top:15px;
	font-size:16px;
	text-indent:10px;
	float:left;
	}	
.select_style{
	height:29px;
	line-height:29px;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
	}	
.searchBtn{
	width:90px;
	height:35px;
	line-height:25px;
	background:#f04126;
	border:0px;
	font-size:16px;
	cursor:pointer;
	vertical-align:middle;
	color:#fff;
	}	
.formTab{
	border-top:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	margin-top:10px;
	float:left;
	}
.formTab th{
	border-bottom:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	line-height:35px;
	background:#dcdcdc;
	}			
.formTab td{
	padding:5px;
	border-bottom:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	work-break:normal;white-space:normal;	
	}
.formTab tr.bgTd td{
	background:#f5ffe4;
	}	
.formTab td.imgBox{
	width:150px;
	height:auto;
	padding:5px;
	}	

.formTab td em{color:#f04126; font-weight:bold;}

.formTab2{
	border-top:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	border-bottom:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	margin-top:10px;
	float:left;
	}
.formTab2 th{
/* 	border-bottom:1px solid #c4c4c4; */
/* 	border-right:1px solid #c4c4c4; */
/* 	line-height:35px; */
	background:#dcdcdc;
	}			
.formTab2 td{
	padding:5px;
/* 	border-bottom:1px solid #c4c4c4; */
/* 	border-right:1px solid #c4c4c4; */
	work-break:normal;white-space:normal;	
	}
.formTab2 tr.bgTd td{
	background:#f5ffe4;
	}	
.formTab2 td.imgBox2{
	width:150px;
	height:auto;
	padding:5px;
	}	

.formTab2 td em{color:#f04126; font-weight:bold;}	
.imgBox2{
	width:33.33%;
	height:150px;
	overflow:hidden;
	}
.imgBox2 img{
	width:150px;
	}

.imgBox{
	width:150px;
	height:150px;
	overflow:hidden;
	}
.imgBox img{
	width:150px;
	}
a.p_title{ font-size:16px; line-height:25px; padding-bottom:10px; }
a.p_title2{ font-size:16px; line-height:25px; padding-bottom:10px; }		
a.p_title:link{color:#f04126;}	
a.p_title:visited{color:#f04126;}	
a.p_title:hover{color:#f04126; text-decoration:underline;}	
a.aGreen{
	width:80px;
	height:32px;
	line-height:32px;
	text-align:center;
	background:#5e9000;
	color:#fff;
	display:block;
	}	
	a.aGreens{
	width:120px;
	height:32px;
	line-height:32px;
	text-align:center;
	background:#5e9000;
	color:#fff;
	margin-left:0px;
	display:block;
	}	
.page{
	width:790px;
	height:auto;
	padding-top:10px;
	text-align:right;
	float:left;
	}	
.page a{ margin-left:5px; margin-right:5px;}	
.page a:link{color:#527e00;}	
.page a:visited{color:#527e00;}	
.page a:hover{color:#527e00; text-decoration:underline;}	

.important{
	width:790px;
	height:auto;
	margin-top:20px;
	float:left;
	}
.important dt{ font-weight:bold; padding-bottom:10px;}	

.important dd{
	width:758px;
	height:auto;
	padding:15px;
	background:#f5fbea;
	border:1px solid #ddd;
	float:left;
	}
.important em{color:#fc7100;}	
.topBtn{
	width:790px;
	height:40px;
	line-height:40px;
	padding-top:10px;
	float:left;
	}	
.topBtn a{
	display:block;
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
	margin-left:15px;
	display:inline;
	background:#0c3;
	color:#fff;
	float:left;
	}	
.topBtn a:hover{ background:#b7230b;}
.topBtns{
	width:790px;
	height:40px;
	line-height:40px;
	padding-top:10px;
	float:left;
	}	
.topBtns a{
	display:block;
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
	margin-left:15px;
	display:inline;
	background:#0c3;
	color:#fff;
	float:left;
	}	
.topBtns a:hover{ background:#b7230b;}	
.productInfo{
	width:790px;
	height:auto;
	float:left;
	}
.productInfo li{
	width:790px;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	background:url(../images/line.gif) bottom repeat-x;
	float:left;
    border-width: 0px 0px 1px; border-style: none none dashed; border-color: currentColor currentColor rgb(204, 204, 204);
	}	
.productInfo label{
	width:130px;
	height:auto;
/* 	font-weight:bold; */
	text-indent:10px;
	float:left;
	font-size: 18px;
	}	
.advImg{
	width:300px;
	height:200px;
	float:left;
	}
.SKU_tab{
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	width:530px;
	float:left;
	}	
.SKU_tab th{
	height:28px;
	line-height:28px;
	background:#f5f5f5;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;	
	}	
.SKU_tab td{
	height:28px;
	line-height:28px;
	padding-left:5px;	
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;	
	}	
.SKU_tab tr.bgTd td{
	background:#f5ffe4;
	}	
a.sLink:link{color:#23b206;}	
a.sLink:visited{color:#ff0000;}	
a.sLink:hover{color:#287800; text-decoration:underline;}	
.redTd{
	color:#ff0000;
	}
.addBtn{
	width:60px;
	height:25px;
	line-height:23px;
	border:0px;
	background:#7eb102;
	cursor:pointer;
	color:#fff;
	}
.subMenu dd ul li a.aRed2{ font-weight:bold;}	
.subMenu dd ul li a.aRed2:link{color:#d44832;}	
.subMenu dd ul li a.aRed2:visited{color:#d44832;}
.subMenu dd ul li a.aRed2:hover{color:#d44832;}

.commonTab{
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;	
	margin-top:15px;
	float:left;
	}
.commonTab th{
	height:30px;
	line-height:30px;
	background:#f5f5f5;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;		
	}	
.commonTab td{
	height:25px;
	line-height:25px;
	padding-left:5px;
	font-size:13px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;		
	}	
.commonTab tr.tbg{
	background:#f5ffe4;
	}	
.commonTab tr.tbg2{
	background:#fff3e4;
	font-weight:bold;
	}	
a.green2:link{ color:#0C0;}	
a.green2:visited{ color:#0C0;}	
a.green2:hover{ color:#C30;}		