<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>亲,下单成功喽!</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black">
				<meta name="format-detection" content="telephone=no">
					<link href="__PUBLIC__/article/circle/finish/buy.css" rel="stylesheet"
						type="text/css">
						<link href="__PUBLIC__/article/circle/finish/common2.css" rel="stylesheet"
							type="text/css">
							<style>
.item_wrap2 {
	padding: 2px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 1px 1px 1px #e4e4e4;
	max-width: 700px;
	margin: 0 auto;
}

p {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-weight: normal;
	padding-left: 20px;
}
</style>
</head>
<body>

	<section class="item_sec">
	<div class="item_wrap2 rel">
		<center>
			<img src="__PUBLIC__/article/circle/finish/0067LWdojw1f46ly658ejg30hs0q7wiu.gif"
				height="100%" width="100%">
		</center>
		<!--p><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.v3120149610.sgc" style="color: #ff0000;font-size:15px;text-decoration: underline;" class="sLink"><center><img src="http://ww2.sinaimg.cn/mw690/0067LWdojw1f2pfww6pm6j30fu02imx5.jpg" height="100%" width="100%"></center></a></p-->
		<p>
			<a
				href="http://7895691.cn/home/Vacation/mobiledetail/id/369/t/24930/q/543211.shtml?tv=@mp.weixin.qq.com"
				style="color: #ff0000; font-size: 15px; text-decoration: underline;"
				class="sLink"></a>
		</p>
		
	</div>
	</section>
	<footer></footer>
	<include file="Home@Public:WxConfig" />
</body>
</html>